# Jekyll and Ruby specific.
.sass-cache
.jekyll-cache/
_site/*
Gemfile.lock
Gemfile

# Bundler related.
.bundle
vendor/bundle/

# Local preview certificates and scratch files.
tmp/

# Other.
*.orig
*.core
*.rej
*~
*.swp
*.log
*.tmp
*.bak
.*\#.*\#$

# OS garbage.
Thumbs.db
.DS_Store
desktop.ini

# IntelliJ IDEA
.idea/*
